* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.container h1 {
    font-size: 30px;
    font-weight: bold;
    border: 1px dotted grey;
    border-radius: 10px;
    padding: 10px;
    background: transparent;
    margin: 30px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

button {
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}

#red {
    background-color: red;
    color: #fff;
}

#blue {
    background-color: blue;
    color: #fff;
}

#green {
    background-color: green;
    color: #fff;
}

#yellow {
    background-color: yellow;
    color: #fff;
}

#grey {
    background-color: grey;
    color: #fff;
}

#pink {
    background-color: pink;
    color: #212121;
}

.container p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
}